.btn:focus, .btn-search:focus{
  outline: 0 !important;
}

.btn-search {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.btn-search.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

.searchbox {
  margin-bottom: 10px;
}
