.btn:focus, .btn-search:focus{
  outline: 0 !important;
}

.btn-search {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.btn-search.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

.search-container {
  margin-bottom: 10px;
}

.searchbox {
  border-radius: 3.5rem;
  font-size: medium;
  text-align: left;
}

.search-input {
  width: 90%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background: transparent;
}

.search-input:focus {
  outline: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}
