<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="main-container" [ngClass]="{'main-container-topleft':isSearched}">
      <div class="inner cover">
        <div class="row">
          <app-search-box class="col-lg-12" (isSearchedChanged)="moveToSearchedState($event)"></app-search-box>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-bottom-right">
  <img src="recycle.png" alt="logo" style="width: 40px; height: 40px;" />
  <label for="" style="margin-left: 5px; font-size: small;">RECYCLE</label>
</div>
