.card-outer {
  border-color:#656871;
  border-radius:2px;
  margin-top: 10px;
  padding: 10px;
  background: #dff9fb;
  color: #535c68;
}

.card-shimmer {
  background-repeat: no-repeat;
  background-size: auto;
  height: auto;
  position: relative
}
.card-shimmer ul {
  list-style: none;
}

.card-pic {
  height: 80px;
  width: 80px;
  left: 10px;
  right: auto;
  top: 10px;
  background-image: url(https://via.placeholder.com/80);
}

.match-head {
  text-align: left;
}

.match-head h1 {
  color: #535c68;
}

.match-score {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eb4d4b;
  text-align: center;
  font-size: medium;
  line-height: 40px;
  color: #dff9fb;
}

.caption {
  text-align: left;
  width: 16px;
  height: 8px;
  border-radius: 4px;
}

.plus {
  background-color: #2ecc71;
}

.minus {
  background-color: #e74c3c;
}

.plus_and_minus {
  text-align: left;
}

.time_stamp {
  color: #22a6b3;
  font-weight: bold;
}
