<!-- <div class="card-outer">
  <div class="card-shimmer">
    <div class="card-pic">
    </div>
    <div>
      <div>
        <span>{{item.name}}</span>
        <span>{{item.model}}</span>
        <span>{{item.manufacturer}}</span>
      </div>
      <div>
        <span>{{item.issue_time}}</span>
      </div>
      <div>
        <span>{{item.score}}</span>
      </div>
    </div>
  </div>
</div> -->

<div class="card-outer">
  <div class="card-shimmer container-fluid">
    <div class="row">
      <h2 class="col-xs-12 col-md-8 match-head">{{item.name}}-{{item.model}}-{{item.manufacturer}}</h2>
      <div class="col-xs-6 col-md-4 match-score">{{item.score}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4 card-pic"></div>
      <div class="col-xs-12 col-md-8">
        <div class="caption">
          <label for="">+</label>
        </div>
        <div>
          <ul>
            <li class="plus_and_minus" *ngFor="let it of item.plus_and_minus.plus">
              {{it}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row time_stamp">Issued @ {{item.issue_time | date}}</div>
  </div>
</div>
