<i class="fa fa-star" [ngClass]="score >= 1 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 2 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 3 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 4 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 5 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 6 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 7 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 8 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 9 ? 'rating-on' : 'rating-off'"></i>
<i class="fa fa-star" [ngClass]="score >= 10 ? 'rating-on' : 'rating-off'"></i>
